.content {
  margin:  0;
  display: flex;
  max-width: 34vh;
  padding-left: 6.6vh;
  min-height: auto;
}

.content__title {
font-family: 'Inter';
font-weight: 900;
font-size: 54px;
line-height: 107.4%;
letter-spacing: 0%;
padding-bottom: 2.7vh;
}

.content__quote {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 141.6%;
  letter-spacing: 0%;
  padding-bottom: 1vh;
}

.content__quote-name {
font-family: 'Inter';
font-weight: 400;
font-size: 24px;
line-height: 141.6%;
letter-spacing: 0%;
text-align: right;
padding-bottom: 1.9vh;
}

.content__text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  padding-bottom: 5.5vh;
  max-width: 95%;
}