 .header {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 3.8vh;
  min-width: 20vh;
  width: 100%;
}

.header__logo-image {
  opacity: 1;
  justify-self: center;
  width: 1.5vh;
  margin: 0 auto;
  padding: 2.1vh 0 1.3vh 0;
}

.header__logo-text {
  justify-self: center;
  margin: 0 auto;
  min-height: 1.1vh;
  font-weight: bold;
  font-size: 19px;
  line-height: 100%;
}

.header__cover {
  display: flex;
  flex-direction: column;
}

.header__cover-title {
  font-family: 'Inter';
  font-weight: 900;
  font-style: Black;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 27vh;
  margin: auto;
  padding-bottom: 1.7vh;
}

.header__cover-subtitle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 35vh;
  width: 100%;
  margin: auto;
  padding-bottom: 3vh;
}

.header__cover-container {
  display: flex;
  justify-self: center;
  margin: 0 auto;
  max-width: 130vh;
  min-width: 100%;
  max-height: 120vh;
  padding-bottom: 4.8vh;
}

.header__cover-image {
  width: fit-content;
  min-height: 100%;
  margin: 0 auto;
  }