 .header {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 3.8vh;
  min-width: 20vh;
  width: 100%;
}

.header__logo-image {
  opacity: 1;
  justify-self: center;
  width: 1.5vh;
  margin: 0 auto;
  padding: 2.1vh 0 1.3vh 0;
}

.header__logo-text {
  justify-self: center;
  margin: 0 auto;
  min-height: 1.1vh;
  font-weight: bold;
  font-size: 19px;
  line-height: 100%;
}

.header__cover {
  display: flex;
  flex-direction: column;
}

.header__cover-title {
  font-family: 'Inter';
  font-weight: 900;
  font-style: Black;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 27vh;
  margin: auto;
  padding-bottom: 1.7vh;
}

.header__cover-subtitle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 35vh;
  width: 100%;
  margin: auto;
  padding-bottom: 3vh;
}

.header__cover-container {
  display: flex;
  justify-self: center;
  margin: 0 auto;
  max-width: 130vh;
  min-width: 100%;
  max-height: 120vh;
  padding-bottom: 4.8vh;
}

.header__cover-image {
  width: fit-content;
  min-height: 100%;
  margin: 0 auto;
  }




  @media screen and (max-width: 1024px) {
    .header__cover-title {
  font-family: 'Inter';
  font-weight: 900;
  font-size: 75px;
  line-height: 79px;
  text-align: center;
  max-width: 24vh;
  padding-bottom: 1.5vh;
}

.header__cover-subtitle {
  padding-bottom: 1.6vh;
}

.header__cover-container {
  max-width: 100vh;
  padding-bottom: 4.7vh;
}

.header__cover-image {
  max-width: 100%;
  }
 }







  @media screen and (max-width: 544px) {
    .header__logo {
  padding-bottom: 3.8vh;
  min-width: 19vh;
}

.header__logo-image {
  width: 1.1vh;
  padding: 1.9vh 0 1.1vh 0;
}

.header__logo-text {
  min-height: 1.1vh;
  font-size: 12px;
}


.header__cover-title {
  font-family: 'Inter';
  font-size: 40px;
  line-height: 110%;
  max-width: 15vh;
  padding-bottom: 1vh;
}

.header__cover-subtitle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 22vh;
  width: 100%;
  padding-bottom: 2.6vh;
}

.header__cover-container {
  max-width: 40vh;
  max-height: 22vh;
  padding-bottom: 3.2vh;
}
 }