.page {
  background-color: #000;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;  
  font-family: 'Inter';
  display: flex;  
  flex-direction: column;
  margin: 0;
}



h1, h2, h3, h4, h5, h6, p, li {
  margin: 0; 
  color: #fff;
 }