@import url("../vendor/normalize.css");

@font-face {
    font-family: 'Inter';
    src: url("../vendor/fonts/Inter-Regular.woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url("../vendor/fonts/Inter-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

.page {
  background-color: green;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  width: 100%;  
  font-family: 'Inter';
  display: flex;  
  flex-direction: column;
  margin: 0;
}



h1, h2, h3, h4, h5, h6, p, li {
  margin: 0; 
  color: #fff;
 }

 .header {
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.header__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 4.5vh;
  min-width: 20vh;
  width: 100%;
}

.header__logo-image {
  opacity: 1;
  justify-self: center;
  width: 3.4vh;
  margin: 0 auto;
  padding: 3.6vh 0 3.5vh 0;
}

.header__logo-text {
  justify-self: center;
  margin: 0 auto;
  min-height: 1.1vh;
  font-weight: bold;
  font-size: 17px;
  line-height: 100%;
}

.header__cover {
  display: flex;
  flex-direction: column;
}

.header__cover-title {
  font-family: 'Inter';
  font-weight: 900;
  font-style: Black;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 77vh;
  margin: auto;
  padding-bottom: 2.3vh;
}

.header__cover-subtitle {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  max-width: 50vh;
  margin: auto;
  padding-bottom: 3vh;
}

.header__cover-container {
  display: flex;
  justify-self: center;
  margin: 0 auto;
  max-width: 77%;
  min-height: 31vh;
  min-width: 100%;
  padding-bottom: 6vh;
}

.header__cover-image {
  min-width: 100%;
  max-height: 70vh;
  min-height: 31vh;
  margin: 0;
  }

.content {
  margin:  0;
  display: flex;
  max-width: 50vh;
  padding-left: 10vh;
  min-height: auto;
}

.content__title {
font-family: 'Inter';
font-weight: 900;
font-size: 54px;
line-height: 107.4%;
letter-spacing: 0%;
padding-bottom: 2.5vh;
}

.content__quote {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 24px;
  line-height: 141.6%;
  letter-spacing: 0%;
  padding-bottom: 0.8vh;
}

.content__quote-name {
font-family: 'Inter';
font-weight: 400;
font-size: 24px;
line-height: 141.6%;
letter-spacing: 0%;
text-align: right;
padding-bottom: 1.6vh;
}

.content__text {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0%;
  padding-bottom: 5.5vh;
  max-width: 95%;
}

.footer {
  font-size: 16px;
  margin: 0 auto;
  display: flex;
  color: #fff;
}

//** media querys @media screen and (min-width: 1024px) {
  .page {
    width: 1024px;
    max-width: 68%;
      }

      .header{
      }

  .header__cover-title {
  font-family: 'Inter';
font-weight: 900;
font-size: 75px;
line-height: 110%;
letter-spacing: 0%;
text-align: center;

}
  
.header__cover-subtitle {
}
} //**